* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Righteous", serif;
  background: linear-gradient(to bottom right, #081c24, #ff009d);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 20px;
}

#app {
  margin-top: 200px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.controls input[type="text"] {
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #3a3a5f;
  border-radius: 30px;
  background: #25253e;
  color: #ffffff;
  transition: all 0.3s ease;
}

.controls button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  background: #f5be41;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(255, 107, 107, 0.5);
}

label {
  font-size: 1rem;
  margin-right: 10px;
  color: #ffffff;
}

.difficulty {
  margin-top: 10px;
}

#difficulty {
  border-radius: 12px;
  border: none;
  padding: 3px;
  background-color: #f5be41;
}

#photoResults {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

#photoResults img {
  cursor: pointer;
  border-radius: 15px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#photoResults img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.5);
}

#photoResultsHeading {
  display: none;
  text-align: center;
  font-size: 1.5rem;
  color: #ff6b6b;
  margin-bottom: 20px;
}

#puzzleArea,
#scoreboard,
#newGameButton {
  display: none;
}

#puzzleGrid {
  display: grid;
  gap: 2px;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.puzzle-piece {
  cursor: grab;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#newGameButton {
  margin: 20px auto;
  padding: 10px 20px;
  background: #ff6b6b;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#newGameButton:hover {
  background: #ff4040;
  box-shadow: 0px 6px 15px rgba(255, 64, 64, 0.7);
  transform: scale(1.05);
}
