* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(to bottom, #0b4650, #501f5b);

  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: auto;
  overflow-x: hidden;
  padding: 20px;
  transform: scale(0.9);
  transform-origin: top;
}
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 80px;
  height: auto;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0px 2px 2px #000000;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: #e9f3ff;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}

.controls input[type="text"] {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #0b1957;
  border-radius: 30px;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease;
}

.controls button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px 20px;
  font-size: 20px;
  color: #ffffff;
  background: #0b1957;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}
.controls button:hover {
  background: #501f5b;
  box-shadow: 0px 6px 15px rgba(255, 0, 156, 0.7);
  transform: scale(1.05);
}

label {
  font-size: 16px;
  margin-right: 10px;
  color: #ffffff;
}

.difficulty {
  margin-top: 10px;
  font-weight: bold;
}
.difficulty label {
  padding: 5px 10px;
  font-size: 18px;
  color: #ffffff;
  background: #0892a5;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 1px 1px #000000;
}

#difficulty {
  border-radius: 12px;
  border: none;
  padding: 3px;
  background-color: #ffffff;
  border: 3px solid #0b1957;
}

.instructions {
  margin: 0 150px;
  padding: 20px;
  background: linear-gradient(to bottom, #501f5b, #0b4650);
  text-align: center;
  margin-top: 15px;
  border-radius: 12px;
  border: #0892a5 solid 3px;
  color: #ffffff;
}
.instructions h2 {
  margin: 0 180px;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-color: #0892a5;
  color: #ffffff;
  border-radius: 10px;
}
#instruction {
  text-transform: uppercase;
  color: #75fff1;
  text-shadow: #501f5b;
  font-weight: bold;
}

.credit {
  color: #ffffff;
}
.credit a {
  color: #75fff1;
}

#photoResults {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

#photoResults img {
  cursor: pointer;
  border-radius: 15px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#photoResults img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px #501f5b;
}

#photoResultsHeading {
  display: none;
  background-color: #0892a5;
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

#puzzleArea,
#scoreboard,
#newGameButton {
  display: none;
}

#puzzleArea {
  text-align: center;
}
#puzzleArea h2 {
  text-shadow: 0 1px 1px #501f5b;
}

.inline-container {
  padding: 5px;
  background-color: #0892a5;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inline-text {
  color: #000000;
  margin-right: 10px;
}

#timer {
  background-color: #f9cbdf;
  border-radius: 20px;
  padding: 5px 10px;
}

#correctPieces {
  background-color: #8f7ab8;
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 10px;
}
#hintButton {
  padding: 10px 20px;
  background: #8ee54e;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#hintButton:hover {
  background: #d395e0;
  color: #ffffff;
  box-shadow: 0px 6px 15px rgba(255, 0, 156, 0.7);
  transform: scale(1.05);
}

#hintButton:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

#hintsLeft {
  background-color: #ff009cb3;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  color: #ffffff;
}

#newGameButton {
  padding: 10px 20px;
  background: #501f5b;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#newGameButton:hover {
  background: #d395e0;
  box-shadow: 0px 6px 15px rgb(178, 241, 0, 0.7);
  transform: scale(1.05);
}

#puzzleGrid {
  display: grid;
  gap: 2px;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}

.puzzle-piece {
  cursor: grab;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#scoreboard {
  background-color: #0892a5;
  padding: 5px;
  border-radius: 12px;
  margin-top: 20px;
  text-align: center;
  color: #000000;
}

#scoreList {
  color: #ffffff;
  list-style-type: none;
  text-shadow: 0px 0px 1px #000000;
}
